{
  "env": {
    "development": {
      "presets": [
        ["env", {
            "modules": false,
            "loose": true
        }],
        "react",
        "stage-2"
      ],
			"plugins": [
        "transform-runtime",
        ["import", { "libraryName": "antd", "style": true }],
        "react-hot-loader/babel"
      ]
		},
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie > 7"]
          }
        }],
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-runtime",
        "transform-react-remove-prop-types",
        ["import", { "libraryName": "antd", "style": true }]
      ]
    }
	}
}
