.aims-deatil-content{
  text-indent: 2em;
  margin: 20px 0;
}
.aims-deatil-updateInput{
  margin: 20px 0px;
}
.aim-detail-timeline{
  .time{margin-left: 20px}
}
.aim-detail-divider{
  margin: 10px 0;
}
// title
.aim-detail-title{
  .username{margin-right: 20px;}
  .aim-info{color: #cacaca;}
  .head-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .item{
      margin: 10px;
    }
  }
}
